:root{
    --darken: #303030;
    --dark: #353535;
    --dark_medium: #808080;
    --dark_light: #cecece;
    --dark_extra_light: #ebebeb;
    --light: white;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--light);
    font-size: 16px;
}

.container {
    background-color: var(--light);
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    gap: 1.6rem;

    grid-template-columns: repeat(4, 1fr);
}

    .container > .header,
    .container > .content,
    .container > .sidebar,
    .container > .footer,
    .container > div{
        background-color: var(--light);
        padding: 20px;
    }

    .container .header,
    .container .footer{
        background-color: var(--darken);
        grid-column: 1/-1;
    }

    .container .footer{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

        .footer > .contact{
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
        }

        .footer .logo{
            margin-bottom: 2rem;
        }

        .footer > .contact > p{
            margin-bottom: 1rem;
        }

        .footer .social .icon.placeholder{
            height: 2rem;
            width: 2rem;
            background-color: var(--dark_extra_light);
            display: inline-block;
            margin: .5rem .5rem .5rem 0;
        }

            .footer .social .icon.placeholder:hover{
                cursor: pointer;
                opacity: .7;
            }

    .container > .content{
        grid-column: 1/-1;
    }

        .content > .article{
            background-color: var(--dark_extra_light);
            padding: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            color: #dfe6e9;
            transition: all 1s ease-in;
        }

        .content > .article:hover{
            cursor: pointer;
            opacity: .7;
        }

        .content > .article:first-child{
            margin-top: 0;
        }

            .content > .article h1,
            .content > .article p{
                padding: 6px;
            }

    .container > .sidebar{
        grid-column: 1/-1;
        background-color: var(--dark_extra_light);
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-content: center;
        gap: 1.6rem;
    }

        .container .sidebar img{
            width: 100%;
            margin-top: 20px;
        }
        
        .sidebar > .article:hover{
            cursor: pointer;
            opacity: .7;
        }


    .container > .related-post{
        background-color: var(--dark_light);
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        grid-column: 1/-1;
    }

        .container > .related-post:hover{
            cursor: pointer;
            background-color: var(--dark_extra_light);
        }

ul.main-menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

    ul.main-menu > li{
        height: 1rem;
        width: 4rem;
        background-color: var(--dark_medium);
        display: inline-block;
    }

    ul.main-menu > li.active{
        background-color: var(--dark_extra_light);
    }

    ul.main-menu > li:hover{
        cursor: pointer;
        background-color: var(--dark_light);
    }

p.placeholder{
    margin-top: 1rem;
    min-height: 1rem;
    background-color: var(--dark_light);
}

    p.placeholder.sm{
        width: 60%;
    }

h2.placeholder{
    height: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: var(--dark_medium);
}
    
    h2.placeholder.sm{
        width: 50%;
    }
    

h3.placeholder{
    height: 1rem;
    margin-bottom: 2rem;
    background-color: var(--dark_medium);
}

    h3.placeholder.sm{
        width: 50%;
    }

.img.placeholder{
    min-height: 10rem;
    background-color: var(--dark_medium);
}
    
.logo.placeholder{
    display: block;
    height: 2rem;
    background-color: var(--dark_light);
    width: 10rem;
    margin-bottom: 1.5rem;
}

/** @MEDIA */

@media (min-width: 576px) {
    .container .header{
        display: flex;
        justify-content: space-between;
    }

    .logo.placeholder{
        margin-bottom: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container .related-post{
        grid-column: span 2;
    }
    
    .container > .related-post:last-of-type{
        display: none;
    }

    .container > .sidebar{
        display: grid;
        gap: 1.6rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{
        grid-template-columns: repeat(5, 1fr);

    }

        .container .content{
            grid-column: span 3;
        }

        .container .sidebar{
            display: flex;
            grid-column: span 2;
        }

        .container .related-post{
            grid-column: span 1;
        }

        .container > .related-post:last-of-type{
            display: inherit;
        }

        .container .footer{
            display: grid;
            gap: 1.6rem;
            grid-template-columns: repeat(3, 1fr);
        }

            .footer > .info{
                grid-column: 1/2;
            }

            .footer > .contact{
                grid-column: 3/-1;
            }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
